@import '../../../colors.scss';


.books-slider {
  box-shadow: $shadow;
  background: $white;
  border-radius: 4px;
  position: relative;

  h3.slider-title {
    font-size: 16px;
    color: $font-grey;
    font-weight: 500;
    padding: 22px;
  }
  
  .card-wrapper {
    display: flex;
    background: $grey-background;
    border-top: 1px solid $border-color;

    .arrow-wrapper {
      top: 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 25px;
      border-radius: 0;
  
      mat-icon {
        font-size: 34px;
        height: 34px;
        width: 34px;
        color: $font-grey;
      }
    }
  
    #left-arrow {
      left: 0;
      
    }

    .slider {
      width: 300px;
      margin: 25px;
      background: red;
    }
  
    #right-arrow {
      right: 0;
    }
  }

  


}