@import '../../../../colors.scss';

.filled-nav {
  &::before {
    transform: translateY(0);
  }

  .page-logo {
    transform: translateX(15px);
  }

  .btn-holder {
    transform: translateX(-15px);
  }

  #bucket-btn {
    box-shadow: none;
  }
}

nav {
  display: flex;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 45px;
  width: 100%;

  &::before {
    content: '';
    width: 100%;
    position: absolute;
    height: 100%;
    background: $primary;
    box-shadow: $shadow;
    top: 0;
    right: 0;
    transform: translateY(-100px);
    transition: .2s transform $transition;
  }

  .page-logo {
    color: $white;
    display: flex;
    align-items: center;
    transform: translateX(0);
    transition: .3s transform $transition;
    z-index: 1;
    
    .company-name {
      font-weight: 300;
      letter-spacing: 1.1px;
      margin-left: 12.5px;
    }

    .company-logo {
      font-size: 32px;
      height: 32px;
      width: 32px; 
    }
  }

  .btn-holder {
    display: flex;
    z-index: 1;
    align-items: center;
    transform: translateX(0);
    transition: .3s transform $transition;

    #sign-in-btn {
      background: $white;
      margin-right: 25px;
    }

    #sign-up-btn {
      border: 1px solid $white;
      color: $white;
    }
  }

  #bucket-btn {
    position: absolute;
    z-index: 10;
    background: $primary;
    width: 50px;
    height: 50px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    min-width: unset;
    line-height: unset;
    padding: unset;
    box-shadow: $shadow;
    
    .shopping-icon {
      color: $white;
    }
  }
}