@import '../../../../colors.scss';

.filled-nav {
  &::before {
    transform: translateY(0);
  }

  .page-logo {
    transform: translateX(15px);
  }

  .navigation-links {
    transform: translateX(15px); 
  }

  .account-creation-links {
    transform: translateX(-15px);
  }

  #bucket-btn {
    box-shadow: none;
  }
}

nav {
  display: flex;
  z-index: 10;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 45px;
  width: 100%;

  &::before {
    content: '';
    width: 100%;
    position: absolute;
    height: 100%;
    background: $primary;
    box-shadow: $shadow;
    top: 0;
    right: 0;
    transform: translateY(-100px);
    transition: .2s transform $transition;
  }

  .page-logo {
    color: $white;
    display: flex;
    align-items: center;
    transform: translateX(0);
    transition: .3s transform $transition;
    z-index: 1;
    
    .company-name {
      font-weight: 300;
      letter-spacing: 1.1px;
      margin-left: 12.5px;
    }

    .company-logo {
      font-size: 32px;
      height: 32px;
      width: 32px; 
    }
  }

  .navigation-links {
    transform: translateX(0);
    transition: .3s transform $transition;
    margin-left: 200px;

    button {
      color: $white;
      background: rgba(0,0,0,.24);

      mat-icon {
        margin-right: 5px;
      }
    }

    #authors-btn {
      margin: 0 25px;
    }

    #bucket-btn {
      background: $primary;
      box-shadow: $shadow;
      color: $white;
      
      .shopping-icon {
        color: $white;
        margin-right: 5px;
      }
    }
  }

  .account-creation-links {
    display: flex;
    z-index: 1;
    align-items: center;
    transform: translateX(0);
    transition: .3s transform $transition;
    margin-left: auto;

    #sign-in-btn {
      background: $white;
      margin-right: 25px;
    }

    #sign-up-btn {
      border: 1px solid $white;
      color: $white;
    }
  }

  
}