@import '../../../styles.scss';

#book-details-popup {
  position: relative;
  height: 640px;
  width: 700px;

  .popup-header span {
    margin-left: 0;
  }

  .delete-book-confirmation {
    align-items: center;
    margin: auto;

    p {
      margin-bottom: 15px;
    }
    .flex-row {
      justify-content: center;

      .deny-btn {
        background: $grey-background;
        margin-right: 15px;
      }
      .confirm-btn {
        background: $primary;
        color: $white;
      }
    }
  }

  .book-content-wrapper {
    padding: 25px 0 40px 0;

    .book-image {
      height: 400px;
      width: 310px;
      box-shadow: $shadow;
      position: relative;
      display: flex;
      justify-content: center;
  
      .no-image {
        justify-content: center;
        align-items: center;
        margin: auto 0;

        p {
          margin-bottom: 7.5px;
        }
      }

      img {
        position: absolute;
        object-fit: cover;
        max-height: 100%;
        top: 0;
        left: 0;
        width: 100%;
      }
    }

    .book-details {
      margin-left: 50px;
      width: 310px;
      
      .detail-name {
        font-size: 18px;
        color: $primary;
        margin-bottom: 15px;
      }

      .detail {
        margin-bottom: 7.5px;
        span {
          font-size: 15px;
        }
        span:first-of-type {
          font-weight: 300;
          color: $font-grey;
        }
        span:last-of-type {
          font-weight: 400;
          color: $primary;
        }
      }

      .detail.flex-col {
        margin-top: 12px;

        article {
          font-weight: 300;
          line-height: 20px;
          font-size: 14px;
        }
      }

      
      .cost-opinion {
        margin-top: 15px;

        span {
          font-size: 20px;
        }

        span:first-of-type {
          font-size: 20px;
        }

        span:last-of-type {
          font-size: 20px;
        }
      }
    }
  }

  .book-operations {
    margin-top: auto;

    button {
      mat-icon {
        margin-right: 5px;
      }
    }

    .edit-book-btn {
      background: $primary;
      color: $white;
      margin-right: 15px;
    }

    .delete-book-btn {
      background: $warn;
      color: $white;
    }

    .opinion-btn {
      margin-left: auto;
    }
  }
}

.opinions-wrapper {
  height: 100%;
  padding: 20px;
  justify-content: space-between;
 
  .add-opinion-form {
    width: 250px;
    .form-item {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}
