#user-orders-popup {
  width: 1000px;
  height: 800px;

  .user-orders-body {
    min-height: calc(100% - 45px);
    position: relative;
    padding-bottom: 20px;

    .table-wrapper {
      margin-top: 30px;
      width: 100%;
    }
  }
}
