<div id="user-orders-popup">
  <header class="modal-header">
    <mat-icon>shopping_cart</mat-icon>
    <span>Twoje dotychczasowe zamówienia</span>

    <mat-icon (click)="dialogRef.close()" class="close-icon">close</mat-icon>
  </header>

  <div class="user-orders-body flex">

    <app-loader *ngIf="isLoading" [positionSet]="'modal'"></app-loader>

    <app-error-placeholder [error]="error" *ngIf="error"></app-error-placeholder>

    <div class="table-wrapper">
      <app-table [headers]="tableHeaders" [keys]="tableKeys" [items]="orders" *ngIf="!isLoading && orders.length !== 0"></app-table>
    </div>

    <p *ngIf="!isLoading && orders.length === 0" class="empty-bucket-message">Nie posiadasz jeszcze
      zamówień</p>

  </div>

</div>