<form id='register-form' (submit)="handleCreatingAccount($event)">
  <h2 class="popup-header" mat-dialog-title>
    <mat-icon color="primary">account_circle</mat-icon>
    <span>Sign up</span>
    <mat-icon class="close-icon" (click)="closeRegisterForm()">close</mat-icon>
  </h2>
  <mat-tab-group>
    <mat-tab label="Personality">
      <div class="dialog-content">
        <mat-form-field *ngFor="let key of formFirstKeys">
          <input [name]="key" (input)="onChange($event)" matInput [placeholder]="key">
        </mat-form-field>
      </div>
    </mat-tab>
    <mat-tab label="Password">
      <div class="dialog-content">
        <mat-form-field *ngFor="let key of formSecondKeys">
          <input [name]="key" (input)="onChange($event)" matInput [placeholder]="key">
        </mat-form-field>
      </div>
    </mat-tab>
  </mat-tab-group>

  <button [disabled]="isCreatingAccount" class="relative" id="sign-up-btn" type="submit" mat-flat-button color="primary">
    Sign Up
  </button>
</form>

