@import '../../../colors.scss';

.error-placeholder {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $dark;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;

  .code {
    font-size: 72px;
    color: red;
    margin-bottom: 24px;
    display: flex;
    align-items: center;

    &::before, &::after {
      content: '';
      background: red;
      width: 24px;
      height: 2px;
    }

    &::before {
      margin-right: 15px;
    }

    &::after {
      margin-left: 15px;
    }
  }

  span {
    line-height: 22.5px;
    text-align: center;
  }

  .sub-message {
    font-weight: 300;
    font-size: 16px;
    margin: 15px 0;
  }

  .message {
    text-transform: uppercase;
    font-size: 24px;
  }

  button {
    border: 1px solid $white;
    color: $white;
    margin-top: 34px;
    width: 150px;
  }
}