@import '../../../colors.scss';

#order-popup {
  min-width: 1000px;
  min-height: 600px;
  max-width: 1200px;
  max-height: 700px;
  justify-content: space-between;

  header {
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid $border-color;

    span {
      margin-left: 14px;
    }

  }

  footer {
    justify-content: flex-end;
  
    #sign-in-btn {
      background: $primary;
      color: $white;
      margin-left: 25px;
    }

    #deny-btn { 
      color: $font-grey;
    }
  }
}