<div [class]="'switch-wrapper' + ' ' + currentSelectedCategory + ' switcher__' + theme">

  <ng-container *ngIf="items">
    <button *ngFor="let item of items" (click)="changeSelectedCategoryFromItems(item)" mat-button>{{item.name}}</button>
  </ng-container>

  <ng-container *ngIf="items === undefined">
    <button (click)="changeSelectedCategory('searchTitle')" mat-button>Nazwa książki</button>
    <button (click)="changeSelectedCategory('searchAuthor')" mat-button>Autor</button>
    <button (click)="changeSelectedCategory('searchPrinter')" mat-button>Wydawnictwo</button>
  </ng-container>
</div>