@import '../../../colors.scss';

.switcher__dark {
  background: #313d51;

  &::before {
    background: #334059;
    border-bottom: 1px solid $white;
  }
}

.switcher__light {
  background: $white;

  &::before {
    background: rgb(235, 235, 235);
    border-bottom: 1px solid $primary;
  }
}

.switch-wrapper {
  margin-left: 25px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 150px;
    transform: translateX(150px);
    transition: .3s transform;
    
  }

  .mat-button {
    border-radius: 0;
    width: 150px;
    font-weight: 300;
    font-size: 14px;
  }

}

div.switch-wrapper.searchTitle::before {
  transform: translateX(0);
}

div.switch-wrapper.searchAuthor::before {
  transform: translateX(150px);
}

div.switch-wrapper.searchPrinter::before {
  transform: translateX(300px);
}