@import '../../../colors.scss';

#books-form {
  background: $white;
  position: relative;
  width: 640px;
  min-height: 400px;

  h2 {
    margin-bottom: 40px;
  }

  section {
    display: flex;
    justify-content: space-between;

    .inputs-wrapper {
      width: 40%;
    }

    .get-image-input {
      align-items: center;
      justify-content: center;
      background: $grey-background;
      margin: 20px;
      width: 48%;
      cursor: pointer;
      border: 1px solid $border-color;
      color: $primary;

      img {
        width: 100%;
        
      }

      span {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 300;
        color: $font-grey;
      }
    }
  }

  textarea {
    resize: none;
    height: 100px;
  }

  #book-btn {
    display: block;
    margin: 60px 0 0 auto;
  }
}