<form id='books-form' (submit)="handleSubmit($event)" class="flex-col">
  <h2 class="popup-header" mat-dialog-title>
    <mat-icon color="primary">account_balance</mat-icon>
    <span>{{bookPayload ? 'Edycja ksiązki ' + bookPayload.name : 'Dodaj nową książkę'}}</span>
    <mat-icon class="close-icon" (click)="dialogRef.close()">close</mat-icon>
  </h2>

  <app-loader *ngIf="kinds.isLoading; else bookFormContent" [positionSet]="'modal'"></app-loader>

  <ng-template #bookFormContent>
    <section>

      <div class="flex-col inputs-wrapper">
        <mat-form-field>
          <input [value]="booksFormData.name" required [name]="'name'" (input)="onChangeInput($event)" matInput
            placeholder="Tytuł książki">
        </mat-form-field>
        <mat-form-field>
          <input [value]="booksFormData.author" required [name]="'author'" (input)="onChangeInput($event)" matInput
            placeholder="Autor">
        </mat-form-field>
        <mat-form-field>
          <input [value]="booksFormData.printer" required [name]="'printer'" (input)="onChangeInput($event)" matInput
            placeholder="Wydawnictwo">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Gatunek</mat-label>
          <mat-select #kindVal value="booksFormData.kindOfBookName" (selectionChange)="onChangeKind(kindVal.value)">
            <mat-option *ngFor="let kind of kinds.data" [value]="kind.name">{{kind.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input [value]="booksFormData.price" min="0" max="5000" type="number" required [name]="'price'" (input)="onChangeInput($event)"
            matInput placeholder="Cena">
        </mat-form-field>
      </div>

      <div (click)="imageInput.click()" class="get-image-input flex-col">
        <input (input)="onChangeFileInput($event)" type="file" [style.display]="'none'" #imageInput />
        <img *ngIf="pictureBookPreview; else emptyPictureBook" [src]="pictureBookPreview" />

        <ng-template #emptyPictureBook>
          <span>Dodaj zdjęcie</span>
          <mat-icon>image</mat-icon>
        </ng-template>
      </div>

    </section>

    <mat-form-field>
      <textarea [value]="booksFormData.description" #descRef (input)="onChangeInput($event)" [name]="'description'"
        matInput placeholder="Opis książki"></textarea>
      <mat-hint [align]="start">Opis pozwala poznać detale książki - nie zdradzaj szczegółów</mat-hint>
      <mat-hint [align]="end">{{descRef.value.length}} / 256</mat-hint>
    </mat-form-field>

    <button [disabled]="isSaving || isAddingFile" class="relative" id="book-btn" type="submit" mat-flat-button color="primary">
      {{bookPayload ? 'Zapisz zmiany' : 'Dodaj nową książkę'}}
    </button>
  </ng-template>

</form>