@import '../../../colors.scss';

.slider {
  background: $dark;
  color: $white;
  display: flex;
  justify-content: space-between;
  position: relative;

  .slider-btn {
    width: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primary;
    border-radius: 0;
    border: none;

    mat-icon {
      font-size: 42px;
      height: 42px;
      width: 42px;
    }
  }

  .slider-btn-left {
      
  } 

  .slider-btn-right {
  }


  .slider-fluid-wrapper {
    width: 1200px;
    overflow: hidden;
    display: flex;
    margin: 0 auto;
    padding: 60px 0;
  }
}