@import '../../../../colors.scss';

aside {
  background: #3c4556;
  height: 100%;
  padding-top: 64px;
  border-right: 1px solid #334059;
  
  .left-nav {
    display: flex;
    flex-flow: column;
    position: relative;

    button {
      width: 64px;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      z-index: 1;
      border-radius: 0;

      .mat-button-focus-overlay {
        border-radius: 0;
      }
    }

    #logout-btn {
      margin-top: 64px;
    }

    .hightlight {
      top: 0;
      left: 0;
      width: 64px;
      height: 64px;
      background: #334059;
      transition: .3s transform $transition;
      position: absolute;
    }
  }
}