<aside>
  <app-loader *ngIf="uiService.isLoadingOnAdmin | async" [size]="'average'" [positionSet]="'admin-side-bar'"></app-loader>

  <nav class="left-nav">
    <button routerLink="/admin" matTooltip="Statystyki" mat-button>
      <mat-icon>trending_up</mat-icon>
    </button>
    <button routerLink="/admin/books" matTooltip="Książki" mat-button>
      <mat-icon>account_balance</mat-icon>
    </button>
    <button routerLink="/admin/orders" matTooltip="Zamówienia" mat-button>
      <mat-icon>shopping_cart</mat-icon>
    </button>

    <button (click)="authService.logout()" id="logout-btn" matTooltip="Wyloguj" mat-button>
      <mat-icon>exit_to_app</mat-icon>
    </button>

    <span class="hightlight" [style.transform]="'translateY(' + focusedNavEl * 64 + 'px)'">
    </span>
  </nav>

</aside>