@import '../../../colors.scss';

.bucket-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  background: $primary;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: .3s animate-bucket-icon-in $transition;
  min-width: unset;
  line-height: unset;
  padding: unset;
  box-shadow: $shadow;
  
  .shopping-icon {
    color: $white;
  }
  
  @keyframes animate-bucket-icon-in {
    from {
      opacity: 0;
      transform: scale(0);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.scrolled-content {
  height: 100vh;
  width: 4px;
  background: $secondary;
  position: fixed;
  left: 0;
  top: 0;
  will-change: transform;
  transition: .2s transform;
}