<div class="books-table-wrapper flex-col">

  <nav class="flex-row">
    <app-searcher [placeholder]="'Wpisz frazę do wyszukania...'" (searching)="handleSearching($event, switchRef)"
      [searcherType]="'admin'"></app-searcher>
    <app-searcher-category-switcher #switchRef (changing)="handleCategoryChange($event)"></app-searcher-category-switcher>

    <form class="price-filter flex-row" (submit)="handleChangePrices($event, minLength.value, maxLength.value)">

      <mat-form-field>
        <input #minLength autocomplete="off" min="0" max="5000" type="number" matInput placeholder="Min price">
        <mat-hint [align]="end">{{minLength.value.length}} / 5</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input #maxLength autocomplete="off" min="0" max="5000" type="number" matInput placeholder="Max price">
        <mat-hint [align]="end">{{maxLength.value.length}} / 5</mat-hint>
      </mat-form-field>

      <button [disabled]="!minLength.value && !maxLength.value" id="sign-in-btn" type="submit" mat-flat-button color="primary">
        FIND
      </button>
    </form>

  </nav>

  <table>
    <thead>
      <tr>
        <th *ngFor="let column of columns">
          <button *ngIf="column.sortable" (click)="handleSorting(column.key)" mat-button>
            <span class="item--title">{{column.name}}</span>
            <mat-icon [ngClass]="{'rotated': (!sortingAscending && currentSortValue === column.key), 'item--icon': true, 'colored': currentSortValue === column.key}">
              arrow_downward
            </mat-icon>
          </button>

          <div *ngIf="!column.sortable" class="flex-row">
            <span class="item--title">{{column.name}}</span>
            <mat-icon *ngIf="column.icon" class="item--icon">{{column.icon}}</mat-icon>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of items" (click)="uiService.openBookDetailsPopup(item.id)">
        <td *ngFor="let column of columns">
          {{item[column.key]}}
        </td>
      </tr>
    </tbody>
  </table>

</div>