<form id='change-user-data-form' (ngSubmit)="handleUpdateLoggedUserData($event)" [formGroup]="accountsFormGroup">
  <h2 class="popup-header" mat-dialog-title>
    <mat-icon color="primary">settings</mat-icon>
    <span>Zmień ustawienia swojego konta</span>
    <mat-icon *ngIf="!isLoading" class="close-icon" (click)="dialogRef.close()">close</mat-icon>
  </h2>

  <ng-container *ngIf="!isLoading">
    <div class="dialog-content">

      <mat-form-field>
        <input minlength="3" maxlength="30" formControlName="firstName" required matInput placeholder="Imię">
      </mat-form-field>

      <mat-form-field>
        <input minlength="3" maxlength="30" formControlName="lastName" required matInput placeholder="Nazwisko">
      </mat-form-field>

      <mat-form-field>
        <input type="email" formControlName="email" matInput placeholder="Email">
      </mat-form-field>

      <mat-form-field>
        <span matPrefix>+48 &nbsp;</span>
        <input type="tel" formControlName="phoneNumber" required matInput placeholder="Number telefonu">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>


      <mat-form-field>
        <input minlength="3" maxlength="30" formControlName="street" matInput placeholder="Ulica">
      </mat-form-field>

      <mat-form-field>
        <input #postalCode maxlength="5" formControlName="postcode" matInput placeholder="Kod pocztowy">
        <mat-hint [align]="end">{{postalCode.value.length}} / 5</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="city" maxlength="100" matInput placeholder="Miasto">
      </mat-form-field>

    </div>
    <button [disabled]="!accountsFormGroup.valid" class="relative" id="save-btn" type="submit" mat-flat-button color="primary">
      Save
    </button>
  </ng-container>

  <app-loader *ngIf="isLoading" [positionSet]="'modal'"></app-loader>
</form>