#change-user-data-form {
  position: relative;
  width: 500px;
  min-height: 400px;
  
  .dialog-content {
    display: flex;
    flex-flow: column;
    margin-bottom: 40px;
    
    mat-form-field {
      margin-bottom: 20px;

      &:first-of-type {
        margin-top: 30px;
      }
    }
  }

  #save-btn {
    width: 100%;
    display: block;
  }
}