<header id='home-page-header'>

  <div class="navigation-placeholder"></div>
  <app-home-navigation></app-home-navigation>

  <div class="social-icons">
    <div class="svg-wrapper" id='instagram-icon'>
      <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" class="svg-inline--fa fa-instagram fa-w-14"
        role="img" viewBox="0 0 448 512">
        <path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>
      </svg>
    </div>
    <div class="svg-wrapper" id='facebook-icon'>
      <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" class="svg-inline--fa fa-facebook-f fa-w-9"
        role="img" viewBox="0 0 264 512">
        <path fill="currentColor" d="M215.8 85H264V3.6C255.7 2.5 227.1 0 193.8 0 124.3 0 76.7 42.4 76.7 120.3V192H0v91h76.7v229h94V283h73.6l11.7-91h-85.3v-62.7c0-26.3 7.3-44.3 45.1-44.3z"></path>
      </svg>
    </div>
  </div>

  <div class="page-description">
    <h1>Znajdź swoje ulubione książki <br> w najniższej cenie</h1>
    <p>Witryna oferuję zaawansowany system wyszukiwania, który pozwoli Ci znaleźć konkretną pozycję
      w szybki i wygodny sposób. Skorzystaj z łatwego obsłudze koszyka i złóż zamówienie poprzez
      specjalny formularz
    </p>
    <div class="searcher-wrapper">
      <app-searcher></app-searcher>
    </div>
  </div>

</header>

<main id="home-page-content"> 

  <section id="basic-informations">

    <div class="jumbos">
      <div class="jumbo">
        <h3>Ogromny zbiór książek</h3>
        <mat-icon>view_module</mat-icon>
        <article>Nasza aplikcja oferuje dostęp do wszystkich znanych utworów literackich. Jeżeli nie mamy książki,
          której
          potrzebujesz - poinformuj as o tym</article>
      </div>

      <div class="jumbo">
        <h3>Zamówienie i dostawa</h3>
        <mat-icon>shopping_cart</mat-icon>
        <article>Kupowanie książek w naszym serwisie jest niezwykle proste. Znajdź utwory, dodaj je do koszyka,
          wypełnij
          formularz i gotowe !</article>
      </div>

      <div class="jumbo">
        <h3>Książki a technologia</h3>
        <mat-icon>memory</mat-icon>
        <article>Zdobądź wersje elektroniczne swoich ulubionych dzieł. Tak je również posiadamy - przystosowane do
          elektronicznych czytników i urządzeń mobilnych</article>
      </div>

      <div class="jumbo">
        <h3>Inteligente podpowiedzi</h3>
        <mat-icon>timeline</mat-icon>
        <article>Filtruj książki po rodzajach i wykorzystuj podpowiedzi, które wygeneruje dla Ciebie system na bazie
          preferencji</article>
      </div>

      <div class="jumbo">
        <button mat-fab color="primary" id='arrow-down-btn'>
          <mat-icon>arrow_downward</mat-icon>
        </button>
      </div>

      <div class="jumbo">
        <h3>Komentarze i opinie</h3>
        <mat-icon>comment</mat-icon>
        <article>Oceń przeczytaną książkę i dodaj opinie na jej temat. Może być obszerna jak recenzja lub zawierać się
          w kilku słowach</article>
      </div>

    </div>

  </section>

  <h2 class="home-section-title">Najlepiej ocenione</h2>

  <section>
    <app-slider [loading]="recommendedBooks.isLoading" [error]="recommendedBooks.error" [sliderHeight]='340'
      [elementWidth]='250' [elementMarginRight]='45'>
      <div [style.height]="'340px'" [style.width]="'250px'" [style.marginRight]="'45px'" *ngFor="let recommendedBook of recommendedBooks.data"
        class="book-cart">
        <img src="{{recommendedBook.pictureName}}" />

        <div class="book-overlay flex-col">
          <span class="title">{{recommendedBook.name}}</span>
          <span class="author">{{recommendedBook.author}}</span>
          <article class="description">
            {{recommendedBook.description | cut: 80}}
          </article>

          <app-stars-rate [rate]="4.25"></app-stars-rate>

          <button (click)="bucketService.addBookToBucket(recommendedBook)" mat-button class="add-to-bucket">
            <mat-icon>add_shopping_cart</mat-icon>
            Do koszyka
          </button>
          <!-- <span class="price">{{recommendedBook.price}}</span> -->
        </div>

      </div>
    </app-slider>
  </section>

  <h2 class="home-section-title">Ostatnio dodane</h2>

  <section>
      <app-slider [loading]="newestBooks.isLoading" [error]="newestBooks.error" [sliderHeight]='340'
        [elementWidth]='250' [elementMarginRight]='45'>
        <div [style.height]="'340px'" [style.width]="'250px'" [style.marginRight]="'45px'" *ngFor="let newestBook of newestBooks.data"
          class="book-cart">
          <img src="{{newestBook.pictureName}}" />
  
          <div class="book-overlay flex-col">
            <span class="title">{{newestBook.name}}</span>
            <span class="author">{{newestBook.author}}</span>
            <article class="description">
              {{newestBook.description | cut: 80}}
            </article>
  
            <app-stars-rate [rate]="4.25"></app-stars-rate>
  
            <button (click)="bucketService.addBookToBucket(newestBook)" mat-button class="add-to-bucket">
              <mat-icon>add_shopping_cart</mat-icon>
              Do koszyka
            </button>
            <!-- <span class="price">{{newestBook.price}}</span> -->
          </div>
  
        </div>
      </app-slider>
    </section>

</main>