@import '../../../colors.scss';

#home-page-header {
  display: flex;
  flex-flow: column;
  padding: 15px 45px;
  background-image: url('../../../assets/home-page.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: $shadow;
  background-attachment: fixed;

  .navigation-placeholder {
    height: 36px;
    width: 100%;
  }

  .social-icons {
    position: absolute;
    bottom: 15px;
    right: 45px;
    display: flex;
    align-items: center;
    
    .svg-wrapper {
      border: 1px solid $white;
      height: 40px;
      width: 40px;
      cursor: pointer;
      display: flex;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      transition: .3s background-color;

      &:hover {
        background-color: $white;
        svg path {
          fill: $font;
        }
      }

      &::before {
        content: '';
        display: block;
        width: 30px;
        height: 1px;
        background: $white;
        position: absolute;
        left: -46px;
      } 
      svg {
        width: 22px;
        height: 22px;
        path {
          fill: $white;
        }
      }
  
    }
  
    #instagram-icon {
      margin-right: 16px;
    }
  }

  &::before {
    content: '';
    background: rgba(0,0,0,.20);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .page-description {
    width: 1080px;
    margin: 125px auto 125px auto;
    z-index: 1;
    display: flex;
    flex-flow: column;
    align-items: center;

    h1, p{
      text-shadow: $shadow;
      text-align: center;
    }

    h1 {
      color: $white;
      font-size: 48px;


    }
    p {
      width: 750px;
      color: $white;
      margin: 10px auto 0 auto;
    }

    .searcher-wrapper {
      margin-top: 40px;
      width: 450px;
    }
  }
}


#basic-informations {
  background: $grey-background;
  border-bottom: 1px solid $border-color;

  .jumbos {
    width: 1200px;
    margin: auto;
    display: flex;
    padding-top: 100px;
    flex-flow: wrap;
    justify-content: space-between;

    .jumbo {
      display: flex;
      align-items: center;
      flex-flow: column;
      margin-bottom: 100px;
      width: 30%;

      h3 {
        font-weight: 500;
      }

      & > mat-icon {
        font-size: 42px;
        height: 42px;
        width: 42px;
        margin: 15px 0;
      }

      #arrow-down-btn {
        margin: auto;
      }

      article {
        text-align: center;
        font-weight: 300;
        line-height: 21px; 
      }
    }

  }
}

section {
  .book-cart {
    flex-shrink: 0;
    position: relative;
    overflow: hidden;

    &:hover img {
      transform: scale(1.4);
    }

    &:hover .book-overlay {
      transform: translateY(0);
    }

    .book-overlay {
      animation-delay: 3s;
      transition: .4s transform $transition;
      height: 100%;
      width: 100%;
      transform: translateY(360px);
      position: absolute;
      top: 0;
      right: 0;
      background: rgba(0,0,0,.76);
      color: $white;
      z-index: 1;
      padding: 20px 20px 15px 20px;

      .title {
        font-size: 18px;
        font-weight: 400;
        color: $primary-light;
        letter-spacing: 1.1px;
      }

      .author {
        font-size: 16px;
        margin-top: 5px;
        text-transform: capitalize;
      }

      .price {
        margin-top: 10px;
        font-size: 15px;
        font-weight: 300;
        color: $white;
      }

      .description {
        margin: 10px 0 25px 0;
        font-weight: 300;
        font-size: 12px;
        line-height: 19px;
        letter-spacing: 1.1px;
        position: relative;
        
        &::before {
          content: '';
          bottom: -12.5px;
          width: 100px;
          height: 2px;
          background: $white;
          position: absolute;
          left: 0;
        }
      }

      .add-to-bucket {
        margin-top: auto;
        display: block;
        color: $primary-light;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 1.1px;
        text-transform: uppercase;

        mat-icon {
          height: 20px;
          width: 20px;
          font-size: 20px;
          margin-right: 5px;
        }
      }
    }

    img {
      width: 100%;
      max-width: 100%;
      transition: 1s transform $transition;
      height: 100%;
      transform: scale(1);
      object-fit: cover;
      top: 0;
      right: 0;
    }
  }
}

.home-section-title {
  font-size: 20px;
  font-weight: 500;
  margin: 45px 0;
  color: $primary;
  letter-spacing: 1.1px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before, &::after {
    content: '';
    display: block;
    height: 2px; 
    width: 75px;
    background: $primary;
  }

  &::before {
    margin-right: 30px;

  }
  &::after {
    margin-left: 30px;
  }
}
