<div class="admin-orders-wrapper flex-col">

  <header>
    <div class="app-searcher-wrapper">
      <app-searcher-category-switcher [items]="orderStatuses" (changing)="changeStatus($event)">
      </app-searcher-category-switcher>
    </div>

  </header>

  <div class="admin-table-wrapper">
    <app-admin-table *ngIf="orders" (rowClicking)="changeStatus($event)" (paginating)="paginationChanged($event)"
      [paginationData]="orders" [columns]="columns">

    </app-admin-table>
  </div>

</div>