@import '../../../colors.scss';

.backdrop-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: .4s animate-backdrop $transition forwards;
  opacity: 0;

  @keyframes animate-backdrop {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.backdrop-loader__white {
  background: rgba(244, 244, 244, 0.83);
}