@import '../../../colors.scss';

.library-header {
  color: $font-grey;
  font-weight: 400;
  font-family: inherit;
  font-size: 20px;
  letter-spacing: 1.1px;
}

#library-view {
  min-height: 100vh;

  main {
    display: flex;
    min-height: calc(100vh - 80px);
    margin-top: 80px;

    aside.lib-nav {
      height: calc(100vh - 80px);
      width: 300px;
      padding: 35px;
      position: fixed;
      left: 0;
      overflow-y: auto;
      top: 80px;
      border-right: 1px solid $border-color;
      background: #fcfcfc;

      p {
        margin-bottom: 35px;
      }

      .kinds-wrapper {
        color: $primary;
        max-height: 100%;

        .kind {
          padding: 10px 0;
          cursor: pointer;
          &:last-of-type {
            margin-bottom: 50px;
          }
        }
      }
    }

    .main-content {
      position: relative;
      margin-left: 300px;
      width: calc(100vw - 300px);
      min-height: 100%;
      background: #f6f6f6;
      padding: 35px;

      .searcher-and-header {
        justify-content: space-between;

        .search-cat-wrapper {
          margin-right: 25px;
        }
      }

      .filters-wrapper {
        margin: 20px 0 35px 0;
      }

      section.books-wrapper {
        display: flex;
        flex-flow: wrap;
      }

    }
  }

}

.book {
  margin: 0 45px 60px 0;

  figure {
    height: 200px;
    width: 167px;
    position: relative;
    margin-bottom: 15px;
    
    .broken-image {
      margin: auto;
      position: absolute;
      border: 1px solid $border-color;
      left: 0;
      right: 0;
      padding: 35px;
      top: 0;
      bottom: 0;
      cursor: pointer;
    }

    .book-img {
      cursor: pointer;
      position: absolute;
      border-radius: 1px;
      box-shadow: 0 6px 6px rgba(0, 0, 0, 0.14);
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .book-name {
    color: $primary;
  }

  .author {
    color: $font-grey;
    font-weight: 300;
    font-size: 14px;
    margin: 6px 0 12px 0;
    text-transform: capitalize;
  }

  .price {
    margin-bottom: 6px;
  }
}
