$font-grey: #707070;
$font: #202020;
$white: #ffffff;
$primary: #243044;
$secondary: #009688;
$warn: #f44336;
$transition: cubic-bezier(.4,0,.2,1);
$shadow: 0 6px 24px rgba(0,0,0,.14);
$grey-background: #f0f0f030;
$border-color: #eaeaea;
$dark-cart-background: #424242a8;
$dark: rgba(24,33,48,1);
$primary-light: #74a8ff;
