@import './colors.scss';

body, html {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

* { 
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, figure, ul, ol {
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
}

p {
  font-weight: 300;
  letter-spacing: 1.1px;
  line-height: 22px;
  color: $font-grey;
}

.close-icon {
  position: absolute;
  top: -10px;
  right: -10px;
  color: $font;
  cursor: pointer;

  svg {
    fill: $font;
  }
}

.relative {
  position: relative;
}

.warn-snackbar {
  background: $warn !important;
  color: $white !important;

  .mat-simple-snackbar-action {
    color: $white !important;
  }
}

.clickable {
  cursor: pointer;
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-flow: column;
}

.flex {
  display: flex;
}

.center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-header {
  position: relative;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-color;
  display: flex;
  align-items: center;

  span {
    margin-left: 14px;
  }

}

.mat-dialog-container {
  overflow-x: hidden !important;
  overflow-y: auto;
}

.empty-message {
  margin: auto 0;
  text-align: center;
  width: 100%;
}

h2.popup-header {
  display: flex !important;
  align-items: center;

  mat-icon {
    font-size: 32px;
    height: 32px;
    width: 32px;
  }

  span {
    margin-left: 10px;
  }
}